/* About Page - Lines between paragraphs */
.aboutlist li {
    border-bottom: 1px solid black;
}

/* Media Queries */ 
/* About Page - Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.aboutimages {display: none;}
.aboutcontent {font-size: 12px;}
}