/* About Page - Stylessheet */

/* Lines between paragraphs */
.aboutlist li {
    border-bottom: 1px solid black;
}

/* No Line after last paragraph */
#lastconsole {
    border-bottom: none;
}

/* Initially Hide Card Deck */
#carddeck {
    display: none;
}

/* Media Queries */ 
/* Extra small devices (phones, 600px and down) */
/* Hide images, resize font size for content, hide unordered list and show card deck */
@media only screen and (max-width: 600px) {
    .aboutimages {display: none;}
    #imagescredit {display: none;}
    #carddeck {display: block;}
    #unorderedlist {display: none;}
}

/* Small devices (portrait tablets and large phones, 992px and down) */
/* Resize All Content Text font size */
@media only screen and (max-width: 992px) {
    .aboutcontent {font-size: 12px;}
    #aboutheader {font-size: 15px;}
}