/* Index Page - Stylessheet */

/* Rounded corners on images */
#indexpageimagelg, #indexpageimagesm {
    border-radius: 25px;
}
/* Small image and mario image initially not displayed */
#indexpageimagesm, #indexpageimagemario {
    display: none;
}

/* Main Quote font size */
#indexpagequote {
    font-size: 45px;
}

/* Media Queries */ 
/* Extra small devices (phones, 600px and down) */
/* Hide large and small images, display mario image and resize quote, credit and copyright font size */
@media only screen and (max-width: 600px) {
    #indexpageimagelg, #indexpageimagesm {display: none;}
    #indexpageimagemario {display: inline;}
    #indexpagequote {font-size: 20px;}
}

/* Small devices (portrait tablets and large phones, 601px and up) */
/* Hide large image and display smaller image */
@media only screen and (min-width: 601px) {
    #indexpageimagelg {display: none;}
    #indexpageimagesm {display: inline;}
}

/* Medium devices (landscape tablets, 768px and up) */
/* Hide small image and display large image */
@media only screen and (min-width: 768px) {
    #indexpageimagelg {display: inline;}
    #indexpageimagesm {display: none;}
} 

/* Small devices (portrait tablets and large phones, 992px and down) */
/* Resize Quote Text font size */
@media only screen and (max-width: 992px) {
    #indexpagequote {font-size: 30px;}
}
