/* Landing Page - Stylessheet */

/* Welcome back message font family */
#welcomebacktext {
    color: red;
    font-size: 30px;
}

/* Buy and Sell Game Controller Buttons */
.controllerbuttons {
    position: relative;
    width: 100%;
    max-width: 400px;
}

/* Game Controller Image */
.controllerbuttons img {
    width: 100%;
    height: auto;
}

/* Buy Button */
.controllerbuttons .buybutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -25%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
}

/* Sell Button */
.controllerbuttons .sellbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -25%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
}

/* Media Queries */ 
/* Extra small devices (phones, 600px and down) */
/* Resize Welcome Back Text font size */
@media only screen and (max-width: 600px) {
    #welcomebacktext {font-size: 20px;}
}

/* Small devices (portrait tablets and large phones, between 601px and 992px) */
/* Resize Welcome Back Text font size */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    #welcomebacktext {font-size: 30px;}
}